In [4]:
#Q1
a="pareek"
b=["moi","par",12,12.69]
c=17.89
d=(2,3,6)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [5]:
#Q2
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS' , 'ML' , 'Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [8]:
#Q3
print(5/2)
print(5%2)
print(5//2)
print(5**2)

2.5
1
2
25

In [ ]:
#Q4
lst=["p","a",1,2,3,4,"lak",[3],90,(3)]
for i in lst:
    print(i)
    print(type(i))

In [ ]:
#Q5
a=int(input("enter no1"))
b=int(input("enter no2"))
i=0
while i<1:
    if (a%b)==0:
        print("verify")
        print(a//b)
        i=i+1
    else:
        print("not verify")
        i=i+1

In [ ]:
#Q6
l1=list(range(25))
for i in l1:
    if i%3==0:
        print(i)
    else:
        pass

In [ ]:
#Q7
str=["palak sharma",12,4.256]
str[0]="moh"
print(str) #list is mutable 
str[0][1]="k"#string is not mutable
print(str)